<% include ../partials/header %>





    <div class="row">
        <h1 style="text-align: center;" class="col-12">Edit Photo Info</h1>
        <div style="width:30%; margin:0 auto">
            <form action="/gallery/<%=campground._id%>/?_method=PUT" method="POST">
                <div class="form-group">
                    <input type = "text" value="<%=campground.name%>" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <input type = "text" value="<%=campground.img%>" name="img" class="form-control">
                </div>
                <div class="form-group">
                    <input type = "text" value="<%=campground.description%>" name="description" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
                </div>
                <div class="form-group">
                    <input type = "submit" value="Submit" class="btn btn-lg btn-default btn-block">
                </div>
            </form>
                
            <a href="/gallery">Go Back</a>
        </div>

        
    </div>








<% include ../partials/footer %>