<% include ../partials/header %>




    <div class="row">
        
        
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" style="max-height:600px; max-width:100%; width:auto height:auto;"src="<%= campground.img%>">
                
                <div class="caption-full">
                    
                    <h1><a href=""><%=campground.name %></a></h1>
                    <em><p>Submitted by: <%=campground.author.username%>, <%=moment(campground.createdAt).fromNow() %></p></em>
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-default" href="/gallery/<%=campground._id%>/edit">Edit</a>
                        <form class="delete-form" action="/gallery/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-default btn-delete">Delete</button>
                        </form>
                    <% }%>
                    
                    <p><%= campground.description %></p>
                </div>
                
            </div>
            
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-default" href="/gallery/<%=campground._id%>/comments/new">Leave A Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-9">
                            <strong><%= comment.author.username %></strong>
                            
                            <p>
                                <%= comment.text %> 
                            </p>
                        </div>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <!--<div class = "row">-->
                                <div class="col-md-3">
                                    <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span><br>
                                    <form id="delete_form" class="delete-form" action="/gallery/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                         <a style="margin-left:5px;"class="pull-right" href="javascript:{}" onclick="document.getElementById('delete_form').submit();"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </form>    
                                    <a class="pull-right" href="/gallery/<%=campground._id%>/comments/<%=comment._id%>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    
                                </div>
                            <!--</div>-->
                        <% } %>
                    </div>
                    
                <% }) %>
                
            </div>
        </div>
        
        
        
        <div class="col-md-3">
            <!--<p class="lead">-->
            <!--    LumiSite-->
            <!--</p>-->
            <!--<div class="list-group">-->
            <!--    <li class="list-group-item active">Info 1</li>-->
            <!--    <li class="list-group-item">Info 1</li>-->
            <!--    <li class="list-group-item">Info 1</li>-->
            <!--</div>-->
            <div id="map"></div>
        </div>
    </div>
    
    
    
    
    
    
    










    
    
    
    
    
    










<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: center,
        scrollwheel: true,
        draggable: true,
        gestureHandling: 'auto'
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFgLJ5-Juf471tDzWtCAy_zeofznpo9HQ&callback=initMap"></script>



<% include ../partials/footer %>